.pagecontent {
    background-color: $body-background;
}

$pageheader-color: $body-background;
$pageheader-font-color: #555;
.pageheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(57);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: rem(0 45);
    color: $pageheader-font-color;

    background: $pageheader-color;
    border-bottom: 1px solid rgba(0,0,0, 0.05);

    .headerlinks {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}


form.docsearch {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    label[for="tipue_search_input"] {
      @extend %accessibly-hidden;
    }

    input[type="search"] {
        display: block;
        width: 100%;
        min-width: rem(150);
        padding: rem(17 17 17 30);
        border: 3px solid $pageheader-color;
        transition: border-color .2s ease-in-out;
        background: $pageheader-color;

        &:focus {
            outline: none;
            border-color: $secondary-color;
        }
    }

    .button {
        position: absolute;
        top: 0;
        left: 0;
        width: rem(24);
        height: 100%;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        color: $pageheader-font-color;

        svg {
            fill: $pageheader-font-color;
            height: 100%;
            width: 100%;
            max-height: rem(24);
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    margin-top: $paragraph-margin-bottom * 1.5;
    margin-bottom: $paragraph-margin-bottom;
    font-family: $header-font-family;
    font-weight: 600;
    line-height: $header-lineheight;
    text-rendering: $header-text-rendering;
    color: $primary-color;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: rem(30 - ($i*2));
    }
}

h1 {
    margin-top: $paragraph-margin-bottom * 2.5;
}

p {
    margin: 0 0 $paragraph-margin-bottom;
    font-size: $body-font-size;
    line-height: $paragraph-lineheight;
    text-rendering: $paragraph-text-rendering;
}

a {
    color: $primary-color;
    cursor: pointer;
    font-weight: $global-weight-bold;
    text-decoration: none;
    transition: color .2s ease-in-out;
    &:hover {
        color: $secondary-color;
    }
}