.pagecontent {
    background-color: $body-background;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: $paragraph-margin-bottom * 1.5;
    margin-bottom: $paragraph-margin-bottom;
    font-family: $header-font-family;
    font-weight: 600;
    line-height: $header-lineheight;
    text-rendering: $header-text-rendering;
    color: $primary-color;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: rem(30 - ($i*2));
    }
}

h1 {
    margin-top: $paragraph-margin-bottom * 2.5;
}

p, td, th {
    margin: 0 0 $paragraph-margin-bottom;
    font-size: rem(16);
    line-height: $paragraph-lineheight;
    text-rendering: $paragraph-text-rendering;
}

a {
    color: $primary-color;
    cursor: pointer;
    font-weight: $global-weight-bold;
    text-decoration: none;
    transition: color .2s ease-in-out;
    &:hover {
        color: $secondary-color;
    }
}

table {
    border: 1px solid #ddd;
    border-radius: 3px;
    border-spacing: 0;

    tr {
        border-collapse: collapse;
    }

    th {
        text-align: left;
        white-space: nowrap;
    }
    td, th {
        padding: 0.5em;
        border-bottom: 1px solid #ddd;
        vertical-align: top;
    }
    th {
        border-bottom-width: 2px;
    }
}

code, kbd, samp {
    background: #fdf6e3;
    color: #365661;
    padding: 0.25em;
}

blockquote {
  background: #f7fafc;
  padding: 1em 1.2em .95em;
  border-radius: 4px;
  border: 1px solid #d2e3ee;
  border-left-width: 5px;
  box-shadow: 0 0 3px rgba(39,44,49,.02),0 5px 22px -6px rgba(39,44,49,.05);

  margin-left: 0;
  margin-right: 0;

  :last-child {
    margin-bottom: 0;
  }
}

.alert {
  background: #f7fafc;
  padding: 1em 1.2em .95em;
  border-radius: 4px;
  border: 1px solid #d2e3ee;
  box-shadow: 0 0 3px rgba(39,44,49,.02),0 5px 22px -6px rgba(39,44,49,.05);
  margin-bottom: 1em;

  :last-child {
    margin-bottom: 0;
  }
}
.Permalink {
  margin-left: -1em;
  width: 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
}
