@charset "UTF-8";
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport{
    width: device-width;
}

// import normalize.css
@import "../bower_components/normalize.css/_normalize.scss";

// define image path
$imagePath: '../img' !default;

// import foundation settins and scss
@import '../bower_components/foundation-sites/scss/util/util';
@import 'settings';
@import 'functions';

@import '../bower_components/foundation-sites/scss/foundation';


//@include foundation-global-styles;

@if not $global-flexbox {
    @include foundation-grid;
}
@else {
    @include foundation-flex-grid;
    @include foundation-flex-classes;
}

/*
@include foundation-typography;
// @include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
*/



@import 'helpers';
@import 'lazyload';
@import 'forms';
@import 'template';
@import 'pagecontent';
@import 'sidebar';
@import 'daux';
@import 'highlight';
@import 'tipuesearch';


/* Clickable logo */
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

/* Sidebar scrolling */
aside.sidebar {
    overflow-y: scroll;
}

/* Element overflow */
.s-content img,
.s-content iframe,
.s-content pre {
    max-width: 100%;
}
.s-content li {
    font-size: .875rem;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
.s-content li > p:last-of-type {
    margin-bottom: 0;
}


/* Pagers */
.Pager {
    padding-left: 0;
    margin: 1em 0;
    list-style: none;
    text-align: center;
    clear: both;
}
.Pager:after,
.Pager:before {
    content: " ";
    display: table;
}
.Pager:after {
    clear: both;
}
.Pager li {
    display: inline;
}
.Pager li>a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}
.Pager li>a:focus,
.Pager li>a:hover {
    text-decoration: none;
    border-color: #ff8f0d;
}
.Pager--next>a {
    float: right
}
.Pager--prev>a {
    float: left
}